<div>
  <div style="display: inline-block;" *ngFor="let image of images">
    <div style="display: inline-block; border: 1px solid yellow">
      <img
        style="display: inline-block; margin-right: 0.5em; margin-bottom: 0.5em; margin-top: 0.5em"
        nz-image
        width="256px"
        height="256px"
        [nzSrc]="image.url.url"
        alt=""
      />
    </div>
    <div style="display: inline-block; border: 1px solid green">
      <img
        style="display: inline-block; margin-right: 0.5em; margin-bottom: 0.5em; margin-top: 0.5em"
        nz-image
        width="256px"
        height="256px"
        [nzSrc]="image.url.url4X"
        alt=""
      />
    </div>
  </div>
</div>

